.card {
    background: #fff;
    border-radius: 2px;
    border: 5px solid white;
    padding:0;
    
    margin: 8px;
    
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    display: block;
  }
  
  .card > .img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .card > .img-container > img {
    width: 100%;
    height: 100%;
    justify-content: center;
    
  }

  img{
    max-height: 500;
    max-width: 700;
  }