  .card {
    padding:0;
    margin: 8px;
    display: block;
  }
  
  .card > .img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .card > .img-container > img {
    width: 100%;
    height: 100%;
    justify-content: center;
    
  }

  img{
    max-height: 500;
    max-width: 700;
  }

  .midtransistion {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .img-container:hover img {
    filter: brightness(40%)
  }
  
  .img-container:hover .midtransistion {
    opacity: 1;
  }

  .fas {
    color: white;
    font-size: 40px;
  }

  .circle-icon {
    background: #343638;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    padding: 15px;
}