.gallerytabs {
    padding-top: 70px;
}

.list {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.gallfilter li a.active {
    border-bottom: 0.5px solid black;
}

.gallfilter ul li a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    text-decoration: none;
    color: black;
    transition:  all 0.4s ease;
}