/* ABOUT ME */
#aboutContainer {
	padding-top: 180px;
	height: 100vh;
}

#aboutneal {
	float: left;
	margin: 15px;
	height: 80px;
	font-weight: 700;
	letter-spacing: 5px;
	font-size: 90px;
}

#nealimage {
	width: 200px;
	border-radius: 50%;

	height: auto;
}

#imgspacing {
	padding-bottom: 10px;
}

#aboutText {
	padding-top: 25px;
	font-size: 22px;
	letter-spacing: 2px;
}

.googleMap {
	align-items: center;
}

/* GALLERY */

.galleryButtons {
	color: black;
	background-color: transparent;
	border: none;
	font-size: 18px;
	letter-spacing: 3px;
}

.galleryButtons:hover {
	color: black;
	text-decoration: underline;
	background-color: transparent;
}

.gallerytabs {
	padding-top: 70px;
}

.list {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}

.text {
	cursor: pointer;
}

/* div.carousel-inner {
	height: 94.25vh;
} */

div.active img.d-block {
	transform: scale(1, 1);
}

img.d-block {
	object-fit: cover;
	height: 100vh;
	transition: 3s;
	transform: scale(3, 3);
}

img {
	pointer-events: none;
}

.darkNav div div nav div a {
	color: black !important;
}

.darkNav div div nav div a:hover {
	color: black !important;
}

.darkNav div div nav div a:after {
	background: black !important;
}

.navbar {
	position: absolute;
	z-index: 100;
	color: white;
	border-radius: 0px 0px 10px 0px;
	justify-content: center;
}

.navbar-nav {
	display: flex;
	flex: 1;
	justify-content: center;
}

.nav-link:hover {
	color: white !important;
	opacity: 1 !important;
}

@media (min-width: 992px) {
	.modal-lg,
	.modal-xl {
		max-width: 90vw;
	}
}

.modal-content {
	background-color: transparent;
	background-clip: padding-box;
	border: none;
}

.modal-header {
	border: none;
}

.modal-title {
	flex: 1;
	justify-content: center;
	display: flex;
	color: white;
}

.close {
	color: white;
	font-size: 2.5rem;
	padding: 1rem 0rem;
}


#spacing {
	padding-top: 50px;
}

#footer {
	position: relative; 
  left: 0;
  bottom: 0;
	width: 100%;
	text-align: center;
  background-color: #D3D3D3;
  color: black;
	padding-top: 30px;
}
