/* ABOUT ME */
#aboutContainer {
	padding-top: 180px;
}

#nealImage {
	float: left;
	margin: 25px;
	width: 80vw;
	max-width: 40vh;
	height: auto;
	border: 2px solid black;
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.6);
}

#aboutText {
	font-size: 22px;
}

.googleMap {
	align-items: center;
}

/* GALLERY */

.galleryButtons {
	color: black;
	background-color: transparent;
	border: none;
	padding: 20px;
	font-size: 20px;
}
.galleryButtons:hover {
	color: black;
	background-color: transparent;
}

.gallerytabs {
	padding-top: 70px;
}

.list {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}

.gallfilter li a.active {
	border-bottom: 0.5px solid black;
}

.gallfilter ul li a {
	color: black;
	text-decoration: none;
	margin-right: 15px;
}

a:hover {
	text-decoration: none;
	color: black;
	transition: all 0.4s ease;
}

/* div.carousel-inner {
	height: 94.25vh;
} */

div.active img.d-block {
	transform: scale(1, 1);
}

img.d-block {
	object-fit: cover;
	height: 100vh;
	transition: 3s;
	transform: scale(3, 3);
}

img {
	pointer-events: none;
}

.navbar {
	position: absolute;
	z-index: 100;
	color: white;
	border-radius: 0px 0px 10px 0px;
	justify-content: center;
}

.navbar-nav {
	display: flex;
	flex: 1;
	justify-content: center;
}

.nav-link:hover {
	color: white !important;
	opacity: 1 !important;
}

@media (min-width: 992px) {
	.modal-lg,
	.modal-xl {
		max-width: 90vw;
	}
}

.modal-title {
	flex: 1;
	justify-content: center;
	display: flex;
}
